<div class="modal fade" id="customerDetailModal" tabindex="-1" aria-labelledby="customerDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="customerDetailModalLabel">Customer Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-3">
                    <label for="name" class="col-sm-3 col-form-label">Name</label>
                    <div class="col-sm-9">
                        <p class="form-control-plaintext" id="detail-name">Customer Name</p>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="phone" class="col-sm-3 col-form-label">Phone</label>
                    <div class="col-sm-9">
                        <p class="form-control-plaintext" id="detail-phone">Customer Phone</p>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="package" class="col-sm-3 col-form-label">Tiffin Package</label>
                    <div class="col-sm-9">
                        <p class="form-control-plaintext" id="detail-package">Tiffin Package</p>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="roti" class="col-sm-3 col-form-label">Roti</label>
                    <div class="col-sm-9">
                        <p class="form-control-plaintext" id="detail-roti">Roti Count</p>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="gravy" class="col-sm-3 col-form-label">Gravy Sabji</label>
                    <div class="col-sm-9">
                        <p class="form-control-plaintext" id="detail-gravy">Gravy Sabji Count</p>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="dry" class="col-sm-3 col-form-label">Dry Sabji</label>
                    <div class="col-sm-9">
                        <p class="form-control-plaintext" id="detail-dry">Dry Sabji Count</p>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="note" class="col-sm-3 col-form-label">Note</label>
                    <div class="col-sm-9">
                        <p class="form-control-plaintext" id="detail-note">Customer Note</p>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="address" class="col-sm-3 col-form-label">Address</label>
                    <div class="col-sm-9">
                        <p class="form-control-plaintext" id="detail-address">Customer Address</p>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="start_date" class="col-sm-3 col-form-label">Start Date</label>
                    <div class="col-sm-9">
                        <p class="form-control-plaintext" id="detail-start-date">Start Date</p>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="end_date" class="col-sm-3 col-form-label">End Date</label>
                    <div class="col-sm-9">
                        <p class="form-control-plaintext" id="detail-end-date">End Date</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
